<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> 5page</title>
    <!-- <link href="../css/five.css" rel="stylesheet"  >  -->
    <link href="{{ url_for('static', filename='css/five.css') }}" rel="stylesheet">
</head>
 
 <body>  
<div style="width:100%;">
    <div class="review" >
        <div class="review_content">
            <div class="maintitle"></div>
            <div class="review_layer1">
               <div class="Bigreview">
                <div class="Bigstar"></div>
                <div class="reviewinfo"></div>
                 <reviewinfo></reviewinfo>
                
               </div>
                </div>
                
            </div>
            
         
        </div>
    </div>
 
    <!-- <script   src="reviewinfoapi.js"></script>   -->
    <script src="{{ url_for('static', filename='js/reviewinfoapi.js') }}" > </script>
 
</body>
</html>