<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Slider</title>
    <!-- <link href="../css/meuslider.css" rel="stylesheet"  >  -->
    <link href="{{ url_for('static', filename='css/meuslider.css') }}" rel="stylesheet">

</head>
<body>
  
    <Photomenuhead></Photomenuhead>
    <Photomenu class="photomenu"></Photomenu>
 
    <!-- <script type="module" src="Photolist.js"></script>  -->
    <script type="module" src="{{ url_for('static', filename='js/Photolist.js') }}" > </script>

</body>
</html>