<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>1Page</title>
    <link href="https://fonts.googleapis.com/css?family=Cherry+Swash|Raleway" rel="stylesheet">

    <!-- <link href="../css/One.css" rel="stylesheet"  >  -->
    <!-- <link href="One.css" rel="stylesheet"  > -->
    <link href="{{ url_for('static', filename='css/One.css') }}" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <![endif]-->
</head>

<body>
    <div class="main">
        <div class="main-content">
            <div class="mainhead">
                <div class="member">
                    <div class="memberimg"></div>
                    <div class="memberinfo">
                        <span id="memberid"> memberid</span>
                        <span id="memberidinfo"><span id="memberpoint">100point</span><span
                                id="memberclass">normal</span></span>
                    </div>
                </div>
            </div>
            <div class="search-content">
                <search>
                    
                </search>
            </div>
            <div class="menu-category">
                <div class="menu-line1">
                    <!-- <a class="gostore"  href="./Two.html?cal=1인분주문"> -->
                    <a class="gostore" href="http://127.0.0.1:5000/2?cal=1인분주문">
                        <div class="category1">

                        </div>
                        <div class="category_title">
                            1인분
                        </div>
                    </a>
                    <a class="gostore" href="http://127.0.0.1:5000/2?cal=한식">
                        <div class="category2">

                        </div>
                        <div class="category_title">
                            한식
                        </div>
                    </a>
                    <a class="gostore" href="http://127.0.0.1:5000/2?cal=일식돈까스">
                        <div class="category3">

                        </div>
                        <div class="category_title">
                            일식돈까스
                        </div>
                    </a>
                    <a class="gostore" href="http://127.0.0.1:5000/2?cal=치킨">
                        <div class="category4">

                        </div>
                        <div class="category_title">
                            치킨
                        </div>
                    </a>

                </div>
                <div class="menu-line2">
                    <a class="gostore" href="http://127.0.0.1:5000/2?cal=피자양식">
                        <div class="category2-1">

                        </div>
                        <div class="category_title">
                            피자
                        </div>
                    </a>

                    <a class="gostore" href="http://127.0.0.1:5000/2?cal=카페디저트">
                        <div class="category2-2">

                        </div>
                        <div class="category_title?cal=카페디저트">
                            카페/디저트
                        </div>
                    </a>
                    <a class="gostore" href="http://127.0.0.1:5000/2?cal=아시아">
                        <div class="category2-3">

                        </div>
                        <div class="category_title">
                            아시아
                        </div>
                    </a>
                    <a class="gostore" href="http://127.0.0.1:5000/2?cal=야식">
                        <div class="category2-4">

                        </div>
                        <div class="category_title">
                            야식
                        </div>
                    </a>

                </div>

                <div class="menu-line3">
                    <a class="gostore" href="http://127.0.0.1:5000/2?cal=프렌차이즈">
                        <div class="category3-1">

                        </div>
                        <div class="category_title">
                            프렌차이즈
                        </div>
                    </a>
                    <a class="gostore" href="http://127.0.0.1:5000/2?cal=테이크아웃">
                        <div class="category3-2">

                        </div>
                        <div class="category_title?cal=테이크아웃">
                            편의점
                        </div>
                    </a>
                    <a class="gostore" href="http://127.0.0.1:5000/2?cal=고기구이">
                        <div class="category5">

                        </div>
                        <div class="category_title">
                            족발
                        </div>
                    </a>

                    <a class="gostore" href="http://127.0.0.1:5000/2?cal=분식">
                        <div class="category2-5">

                        </div>
                        <div class="category_title">
                            떡볶이
                        </div>
                    </a>

                </div>
            </div>
        </div>


        <div class="detailmenu">
            <div class="detailmenu_content">
                <div class="maintitle"></div>
                <oneheader></oneheader>
                <main>

                </main>
            </div>
        </div>
    </div>
    <div>


        <p>

        </p>
    </div>

    <footer>


    </footer>
    <!-- <script src="Oneapi.js"></script> -->
    <script src="{{ url_for('static', filename='js/Oneapi.js') }}"> </script>
    <!-- <script src="Oneapi.js"></script> -->
</body>

</html>