<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>7 page</title>
    <link href="../../css/seven.css" rel="stylesheet"  > 
</head>
 
 <body>  
<div style="width:100%;">
    <div class="Bag" >
        <div class="Bag_content">
            <div class="maintitle"></div>
            <div class="Bag_layer1">
               <div class="BigBag">
                <div class="Bag1wrap">
                     <div class="Bag1text">주소</div> 
                     <div class="Bag1">주소</div>
                </div>
                <div class="Bag2wrap"> 
                     <div class="Bag2text">번호</div> 
                     <div class="Bag2">번호</div>
                </div>
                <div class="Bag3wrap">  
                    <div class="Bag3text">번호</div> 
                    <div class="Bag3">번호</div>
                </div>
                <div class="Bag4wrap"> 
                     <div class="Bag4text">번호</div>
                      <div class="Bag4">번호</div>
                </div>
                <div class="Bag5wrap">  
                    <div class="Bag5text">번호</div>
                     <div class="Bag5">번호</div>
                </div>
                <div class="Bagline1"></div>
                <div class="Bag_foodimage"></div>
                <div class="Bag_foodinfo">
                    <div class="menuinfo1">메뉴이름</div>
                    <div class="menuinfo2">가격정보</div>
                    <div class="menuinfo3">옵션정보</div>
                    <div class="menuinfo4">옵션정보2</div>
                    <div class="menuinfo5">가격</div>
                </div>
                <div class="Bagline1"></div>
                <div class="price_foodinfo">
                    <div class="priceinfo1">
                        <span>총금액</span>
                        <span>총금액</span>
                    </div>
                    <div class="priceinfo2">
                        <span>배달비용</span>
                        <span>금액</span>
                    </div>
                    <div class="priceinfo3">
                        <span>서비스비용</span>
                        <span>금액</span>    
                    </div>
                    <div class="priceinfo4"> 
                        <span>포인트사용</span>
                        <span>금액</span>    
                    </div>
                    <div class="priceinfo5">
                        <span>전체금액</span>
                        <span>금액</span>    
                    </div>
                </div>
            </div>
            
            </div>
                
            </div>
            
         
        </div>
    </div>
 
</body>
</html>