<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>2Page</title>
  <link href="https://fonts.googleapis.com/css?family=Cherry+Swash|Raleway" rel="stylesheet">

  <!-- <link href="../css/two.css" rel="stylesheet"  >  -->
  <link href="{{ url_for('static', filename='css/two.css') }}" rel="stylesheet">
  <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <![endif]-->
</head>

<body>
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function () {
      // $("#tabcategory").load("Topcategory.html");
      $("#tabcategory").load("http://127.0.0.1:5000/10");
    });
  </script>
  <div class="main">
    <div class="main-content">
      <div class="mainhead">
        <div id="tabcategory"></div>
      </div>
      <div class="detailmenu">
        <div class="detailmenu_content">
          <main>

          </main>
        </div>
      </div>
    </div>

<!--      <a href="http://127.0.0.1:5000/6">-->
  <a>
       <div class="tooltipbasketbutton">
           <div class="boxList">
            <div class="box" onclick="vibration(this)"> 
          <div class="basketicon" ></div>
           </div></div>
        </div>     
      </a>
 
  

        
      <script>
          const vibration = (target) => {
            target.classList.add("vibration");
          
            setTimeout(function() {
              target.classList.remove("vibration");
            }, 400);
          }
        </script>
  <!-- <script src="twoapi.js"></script> -->
  <script src="{{ url_for('static', filename='js/twoapi.js') }}"> </script>
</body>

</html>